<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=9">
<meta name="description" content="Gambolthemes">
<meta name="author" content="tom kidumbuyo">

<title>iQualify</title>
<base href="/">

<link rel="icon" type="image/png" href="images/fav.png">

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel='stylesheet'>
<link href='assets/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
<link href="assets/css/vertical-responsive-menu.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/responsive.css" rel="stylesheet">
<link href="assets/css/instructor-dashboard.css" rel="stylesheet">
<link href="assets/css/instructor-responsive.css" rel="stylesheet">
<link href="assets/css/night-mode.css" rel="stylesheet">

<link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="assets/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
<link href="assets/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/semantic/semantic.min.css" rel="stylesheet">
<link href="assets/css/dashboard.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




</head>
<body>






<div class="card" >
    <div class="card-body">
    <h4>Your Iqualify Account</h4>
    <p>This is your public presence on Iqualify. You need a account to upload your paid courses, comment on courses, purchased by students, or earning.</p>
    <div class="basic_profile">
    <div class="basic_ptitle">
    <h6>Basic Profile</h6>
    </div>
    <div class="basic_form">
        <div class="form-group">
    <label >Full name</label>
    <div class="row">
    
    <div class="col-md-6">
        <div class="input-icon">
            <span class="input-icon-addon">
              <i class="fe fe-user"></i>
            </span>
            <input type="text" class="form-control" placeholder="first name">
          </div>
    </div>
    <div class="col-md-6">
      
            <input type="text" class="form-control" placeholder="last name">
          
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
    <div class="form-group">
    <label for="">Profession</label>
    <input type="text" class="form-control">
    <div class="help-block">Add a professional headline like, "Engineer at Iqualify" or "Architect."</div>
    </div>
    </div>
    <div class="col-lg-12">
    <div class="form-group"> 
    <label for="">Description</label>
    <textarea rows="3" name="description" id="id_about" class="form-control" placeholder="Write a little description about you..."></textarea>

    <div class="help-block">Links and coupon codes are not permitted in this section.</div>
    </div>
    </div>
    <div class="col-lg-12">
    <div class="divider-1"></div>
    </div>
    </div>
 
    </div>
    </div>
    <div class="basic_profile1">
    <div class="basic_ptitle">
    <h6>Profile Links</h6>
    </div>
    <div class="basic_form">
 
    <div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label >Your website</label>
            <div class="input-group">
              <span class="input-group-prepend" id="basic-addon3">
                <span class="input-group-text">https://</span>
              </span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
          </div>
  
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <label >Your facebook URL</label>
            <div class="input-group">
              <span class="input-group-prepend" id="basic-addon3">
                <span class="input-group-text">http://facebook.com/</span>
              </span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
          </div>

    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <label >Your twitter URL</label>
            <div class="input-group">
              <span class="input-group-prepend" id="basic-addon3">
                <span class="input-group-text">http://twitter.com/</span>
              </span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
          </div>
 
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <label >Your linkedin URL</label>
            <div class="input-group">
              <span class="input-group-prepend" id="basic-addon3">
                <span class="input-group-text">http://www.linkedin.com/</span>
              </span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
          </div>

    </div>
   
    </div>
 
    </div>
    </div>
    </div>
    <div class="card-footer">
    <button class="btn btn-primary" type="submit">Save Changes</button>
    </div>
    </div>

    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/vertical-responsive-menu.min.js"></script>
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="assets/vendor/semantic/semantic.min.js"></script>
    <script src="assets/js/custom1.js"></script>
    <script src="assets/js/night-mode.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    
    
    <!-- <script src="assets/styles/bootstrap4/popper.js"></script>
    <script src="assets/styles/bootstrap4/bootstrap.min.js"></script> -->
    <script src="assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="assets/plugins/easing/easing.js"></script>
    <script src="assets/js/custom.js"></script>
    
    </body>
    </html>
    