<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=9">
<meta name="description" content="Gambolthemes">
<meta name="author" content="tom kidumbuyo">

<title>iQualify</title>
<base href="/">

<link rel="icon" type="image/png" href="images/fav.png">

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel='stylesheet'>
<link href='assets/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
<link href="assets/css/vertical-responsive-menu.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/responsive.css" rel="stylesheet">
<link href="assets/css/instructor-dashboard.css" rel="stylesheet">
<link href="assets/css/instructor-responsive.css" rel="stylesheet">
<link href="assets/css/night-mode.css" rel="stylesheet">

<link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="assets/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
<link href="assets/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/semantic/semantic.min.css" rel="stylesheet">
<link href="assets/css/dashboard.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


<div class="course-header clearfix">
    <div class="container">
        <div class="row">
        <div class="col-md-8 course-summary">
      
                <div class=" mb-4">
                <a class="" href="/courses/design/">Design</a>
                <span class="fe fe-chevron-right ml-1 mr-1"></span>
                <a class="" href="/courses/design/graphic-design-and-illustration/">Graphic Design &amp; Illustration</a>
                <span class="fe fe-chevron-right ml-1 mr-1"></span>
                <a class="" href="/topic/photoshop/">Photoshop</a>
                </div>
                <h1 class="mt-3">
                Adobe Photoshop CC – Essentials Training Course
                </h1>
                <p class="mt-3 mb-3">
                This Adobe Photoshop Essentials course will teach you Photoshop Retouching as well as Photoshop for graphic design.
                </p>

                
                

           
                <div>
            
             
                    <button type="button" class="btn btn-lg btn-secondary-outline" >Wishlist</button>
                    <button type="button" class="btn btn-lg btn-secondary-outline"  >Share</button>
                 
             
            
                </div>


             

               
               
        </div>
        <div class="col-md-4">

           
        </div>
        </div>
    </div>
</div>
<div class="course-body">
    <div class="container">
        <div class="row">
        <div class="col-md-8">

            <div class="course-content mt-5">
                <h2 class="mb-4">What you'll  learn</h2>
                <div class="row">
                    <div class="col-md-6 course-content-column">
                        <div class="row">
                            <div class="col-md-auto"><span class="fe fe-check"></span></div>
                            <div class="col">
                                <p>has been the when an unknown printer took a galley of type and scrambled</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 course-content-column">
                        <div class="row">
                            <div class="col-md-auto"><span class="fe fe-check"></span></div>
                            <div class="col">
                                <p>Is simply dummy text of the printing and  since the 1500s,  type and scrambled</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 course-content-column">
                        <div class="row">
                            <div class="col-md-auto"><span class="fe fe-check"></span></div>
                            <div class="col">
                                <p> industry. Lorem Ipsum has been the industry's standard dummy text ever sin</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 course-content-column">
                        <div class="row">
                            <div class="col-md-auto"><span class="fe fe-check"></span></div>
                            <div class="col">
                                <p> industry's standard dummy text ever since the unknown printer took a galley of </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 course-content-column">
                        <div class="row">
                            <div class="col-md-auto"><span class="fe fe-check"></span></div>
                            <div class="col">
                                <p> typesetting industry. Lorem Ipsum has been the industry's standard   a galley of type and scrambled</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 course-content-column">
                        <div class="row">
                            <div class="col-md-auto"><span class="fe fe-check"></span></div>
                            <div class="col">
                                <p>the industry's standard dummy text ever since the  took a galley of ty</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 course-content-column">
                        <div class="row">
                            <div class="col-md-auto"><span class="fe fe-check"></span></div>
                            <div class="col">
                                <p> industry. Lorem Ipsum has been the standard when an unknown printer  of type and scrambled</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion mt-5" id="myAccordion">
                <div class="card mb-0">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">1. What is HTML?</button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
                        <div class="card-body">
                            <p>HTML stands for HyperText Markup Language. HTML is the standard markup language for describing the structure of web pages. <a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo">2. What is Bootstrap?</button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#myAccordion">
                        <div class="card-body">
                            <p>Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">3. What is CSS?</button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
                        <div class="card-body">
                            <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">3. What is CSS?</button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
                        <div class="card-body">
                            <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">4. What is CSS?</button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
                        <div class="card-body">
                            <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">5. What is CSS?</button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
                        <div class="card-body">
                            <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 purchase-card-wrapper">
            <div class="purchase-card card">
                <div class="course-video"></div>
                <div class="card-body">
                <div class="course-price">
                    $100
                </div>
                <button class="btn btn-lg btn-primary btn-block mb-3">Add to cart</button>
                <button class="btn btn-lg btn-outline-primary btn-block">Buy Now</button>

                <h4 class="mt-4">This course includes:</h4>
                <ul class="mt-2 course-includes">
                    <li><span class="mr-2 fe fe-clock"></span> 11 hours on-demand video</li>
                    <li><span class="mr-2 fe fe-arrow-down"></span>65 downloadable resources</li>
                    <li><span class="mr-2 fe fe-clock"></span>Full lifetime access</li>
                    <li><span class="mr-2 fe fe-smartphone"></span>Access on mobile and TV</li>
                    <li><span class="mr-2 fe fe-check"></span>Assignments</li>
                    <li><span class="mr-2 fe fe-award"></span>Certificate of completion</li>
                </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="assets/js/vertical-responsive-menu.min.js"></script>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/OwlCarousel/owl.carousel.js"></script>
<script src="assets/vendor/semantic/semantic.min.js"></script>
<script src="assets/js/custom1.js"></script>
<script src="assets/js/night-mode.js"></script>
<script src="assets/js/bootstrap.min.js"></script>


<!-- <script src="assets/styles/bootstrap4/popper.js"></script>
<script src="assets/styles/bootstrap4/bootstrap.min.js"></script> -->
<script src="assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="assets/plugins/easing/easing.js"></script>
<script src="assets/js/custom.js"></script>

</body>
</html>