<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=9">
<meta name="description" content="Gambolthemes">
<meta name="author" content="tom kidumbuyo">

<title>iQualify</title>
<base href="/">

<link rel="icon" type="image/png" href="images/fav.png">

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel='stylesheet'>
<link href='assets/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
<link href="assets/css/vertical-responsive-menu.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/responsive.css" rel="stylesheet">
<link href="assets/css/instructor-dashboard.css" rel="stylesheet">
<link href="assets/css/instructor-responsive.css" rel="stylesheet">
<link href="assets/css/night-mode.css" rel="stylesheet">

<link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="assets/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
<link href="assets/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/semantic/semantic.min.css" rel="stylesheet">
<link href="assets/css/dashboard.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


<div class="card" >
    <div class="card-body">
    <h4>Privacy</h4>
    <p>Modify your privacy settings here.</p>
    <div class="basic_profile">
    <div class="basic_form">
    <div class="nstting_content">
    <div class="basic_ptitle">
    <h4>Profile page settings</h4>
    </div>
    <div class="ui toggle checkbox _1457s2">
    <input type="checkbox" name="stream_ss8" checked>
    <label>Show your profile on search engines</label>
    </div>
    <div class="ui toggle checkbox _1457s2">
    <input type="checkbox" name="stream_ss9">
    <label>Show courses you're taking on your profile page</label>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="card-footer">
    <button class="btn btn-primary" type="submit">Save Changes</button>
    </div>
    </div>
