<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=9">
<meta name="description" content="Gambolthemes">
<meta name="author" content="tom kidumbuyo">

<title>iQualify</title>
<base href="/">

<link rel="icon" type="image/png" href="images/fav.png">

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel='stylesheet'>
<link href='assets/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
<link href="assets/css/vertical-responsive-menu.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/responsive.css" rel="stylesheet">
<link href="assets/css/instructor-dashboard.css" rel="stylesheet">
<link href="assets/css/instructor-responsive.css" rel="stylesheet">
<link href="assets/css/night-mode.css" rel="stylesheet">

<link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="assets/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
<link href="assets/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/semantic/semantic.min.css" rel="stylesheet">
<link href="assets/css/dashboard.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>



<div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <div class="text-center mb-6">
            <img src="assets/images/logo.svg" class="h-6" alt="">
          </div>
          
            <div class="card-body p-6">
              <div class="card-title">Login to your account</div>
              <div class="form-group">
                <label class="form-label">Email address</label>
                <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label class="form-label">
                  Password
                </label>
                <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-footer">
                <button type="submit" class="btn btn-primary btn-block" >Sign in</button>
              </div>
            </div>
          
          <div class="text-center text-muted">
            Don't have account yet? Contact the Admin for one.
          </div>
        </div>
      </div>
    </div>
  </div>