<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=9">
<meta name="description" content="Gambolthemes">
<meta name="author" content="tom kidumbuyo">

<title>iQualify</title>
<base href="/">

<link rel="icon" type="image/png" href="images/fav.png">

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel='stylesheet'>
<link href='assets/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
<link href="assets/css/vertical-responsive-menu.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/responsive.css" rel="stylesheet">
<link href="assets/css/instructor-dashboard.css" rel="stylesheet">
<link href="assets/css/instructor-responsive.css" rel="stylesheet">
<link href="assets/css/night-mode.css" rel="stylesheet">

<link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="assets/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
<link href="assets/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/semantic/semantic.min.css" rel="stylesheet">
<link href="assets/css/dashboard.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
              User Account Setting
            </h1>
          </div>
        <div class="row">
        <div class="col-lg-2 pt-0">
            <div class="list-group list-group-transparent mb-0">
            
                <a class="list-group-item list-group-item-action active" [routerLink]="['/user/setting']">Account</a>
                <a class="list-group-item list-group-item-action"  [routerLink]="['/user/setting/notification']">Notification</a>
                <a class="list-group-item list-group-item-action"  [routerLink]="['/user/setting/privacy']">Privacy</a>
                <a class="list-group-item list-group-item-action"  [routerLink]="['/user/setting/billing']">Billing and Payouts</a>
                <a class="list-group-item list-group-item-action"  [routerLink]="['/user/setting/close']">Close Account</a>
            
            </div>
        </div>
        <div class="col-lg-10">
        <router-outlet></router-outlet>
        </div>
        </div>
    </div>

